$white: #ffffff;

/*global*/

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
}

.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

/* navigation */

nav{
    position: absolute;
}

h3{
    color: #cc8c7b;
    position: relative;
    margin: auto;
}

/* Splash */

/* Services */

/* Portfolio */

/* Footer */

