/* Variables */

$white: #ffffff;
$green: #9ACD32;

$lato: 'Lato', sans-serif;
$titles: 'Luckiest Guy', cursive;

/*global*/

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
    font-family: $lato;
}

.container{
    max-width: 1140px;
}

/* navigation */

.navigation{
    background: #191970;
}
.name{
    color: gold;
    font-style: oblique;
}

.menu a{
    text-decoration: none;
    color: $green;
}

ul{
    margin: 20px 0 30px 0;
    padding: 0;
}

ul > li{
    display: inline-flex;
    list-style-type: none;
    margin-right: 75px;
    position: relative;
}

ul > li:last-of-type{
    margin-right: 0;
}

ul > li > ul{
    display: none;
    position: absolute;
    background: #ffffff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    border-radius: 5px;
    z-index: 1000;
}

ul > li:hover ul{
    display: flex;
    flex-direction: column;
}

ul ul li{
    margin: 0 0 12px 0;
    display: flex;
    padding: 0 24px;
    width: 100%;
}

/* Splash */

.splash{
    background-image: url(https://i.postimg.cc/fyjxZkNm/architecture-beach-building-258154.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    margin: auto;
    padding-top: 10%;
    text-align: center;
    color: $green;
    font-family: $titles;
    font-size: 72px;
    letter-spacing: 0.5em;
}

.subtitle{
    text-align: center;
    color: $white;
    word-spacing: 0.6em;
    letter-spacing: 0.3em;
}

.title-2{
    color: gold;
    font-size: 35px;
}

/* Services */

/* Portfolio */

/* Footer */

